{% extends "../layouts/normal.html" %}
{% block primary %}
	{% if authorizations %}
		<h1>Rooms</h1>
		<ul>
			{% for auth in authorizations %}
				<li>
					<span class="actions">
						<a href="{% url EditRoomHandler auth.room.key.id %}">Edit</a>
					</span>
					<a href="{% url RoomHandler auth.room.key.id %}">{{ auth.room.name }}</a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>You don't have access to any rooms. Feel free to create one below.</p>
	{% endif %}
	
	<form action="{% url RoomCollectionHandler %}" method="post">
		<ul>
			{{ form.as_ul }}
			<li class="submit">
				<input type="submit" name="commit" value="Create New Room" />
			</li>
		</ul>
	</form>
{% endblock primary %}
