{% extends "../layouts/application.html" %}
{% block chats %}
	<script type="text/javascript" charset="utf-8">
		var evil = 0;
		var current_user = "{{ current_user.nickname }}";
	</script>
	
	<table id="chat_table">
	  {% for message in messages %}
	    <tr data-person="{{ message.user.nickname|escape }}" id="message_{{ message.evil }}">
	     <td class="person">{{ message.user.nickname|escape }}</td>
	     <td>{{ message.body|escape }}</td>
	    </tr>
			
			{% if forloop.last %}
				<script type="text/javascript" charset="utf-8">
					evil = {{ message.evil }};
				</script>
			{% endif %}
		{% endfor %}
	</table>
	
	<script type="text/javascript" charset="utf-8">
		var room_id = {{ room.key.id }};
	</script>
	<script type="text/javascript" src="/assets/js/chat.js"></script>
{% endblock chats %}

{% block onlines %}
  <ul>
    {% for user in onlines %}
      <li>
        <a href="#" data-person="{{ user.nickname|escape }}">
          {{ user.nickname|escape }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock onlines %}


<!-- <form action="{% url AuthorizationCollectionHandler %}" id="add_user">
   <ul>
     <li>
       <input type="text" name="email" id="email" />
     </li>
     <li class="submit">
       <input type="submit" value="Invite GMail User" id="invite_button" />
     </li>
   </ul>
   <p id="user_add_message"></p>
 </form>
 
 <div id="online_users"></div>
 
 <script type="text/javascript" src="/assets/js/user.js"></script> -->